<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring-mybatis:war exploded">
    <output-path>$PROJECT_DIR$/../Spring-mybatis/out/artifacts/Spring_mybatis_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring-mybatis/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring-mybatis" />
        </element>
      </element>
    </root>
  </artifact>
</component>